body{
    background-color: #e3dfdc !important;

}

li{
    margin-bottom: 1rem;
}

.card{
    border: 0!important;
}

.card-footer{
    padding: 0.5rem 3rem!important;
}

.rounded{
    border-radius: 0.5rem!important;
}